@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: white;

  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0C0C08;
}

::-webkit-scrollbar-thumb {
  background: #DC143C;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B91C3C;
}